*,
::after,
::before {
  box-sizing: border-box;
}
body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, PingFangSC-Regular, "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
}
img {
  vertical-align: bottom;
}
ul {
  list-style-type: none;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body,
html {
  background-color: black;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  min-width: 300px;
}
body {
  font-family: 'Helvetica', 'Arial', 'Noto Sans TC', '黑體-繁', '微軟正黑體', sans-serif !important;
}
.navbar-toggler {
  background-color: #ACACBE;
  margin-bottom: 2px;
  margin-top: 10px;
}
.brand img {
  width: 2.5em;
  aspect-ratio: 1 / 1;
  margin-top: 2px;
}
.nav-link {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
}
.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 3.5px;
  background-color: #ACACBE;
  border-radius: 5px;
  z-index: 1000;
}
.brand {
  margin-right: auto;
}
.navbar-nav {
  margin-left: auto;
}
.navbar-nav .nav-item {
  margin-left: 0.5vw;
}
.navbar-nav .nav-item img {
  width: 3vw;
  height: 3vw;
  display: inline-block;
}
.nav-text {
  font-size: 3vh;
  font-weight: 600;
  display: none;
}
.navbar-nav .nav-item:nth-child(4) img {
  padding-top: 3px;
}
.bg-body-tertiary {
  margin-top: -5px;
  background-color: black !important;
}
@media (max-width: 988px) {
  .navbar-nav .nav-item img {
    display: none;
  }
  .navbar-nav .nav-item .nav-text {
    display: inline-block;
    color: #CCCCCC;
  }
}
.hidden {
  display: none;
}
body,
html {
  height: 100%;
}
.section {
  height: 100%;
  overflow-y: auto;
  background-color: #343541;
  border-radius: 15px;
  margin: 0 13px 13px 13px;
}
.novalidate {
  position: relative;
}
.container {
  max-width: 100vw !important;
  font-size: x-large;
  font-weight: 550;
  color: #CCCCCC;
  letter-spacing: 0.2em;
  margin: 0px !important;
  width: 100%;
  background-color: #343541;
  padding: 20px;
  border-radius: 15px;
}
.form-label {
  color: #FF6600;
}
#validationName,
#validationNum,
#validationUnit,
#validationRole {
  color: #CCCCCC !important;
  font-size: x-large;
}
#validationEmail {
  font-size: x-large;
  margin-top: 5px;
  color: #CCCCCC !important;
  border: 2px solid rgba(255, 102, 0, 0.5) !important;
  border-right: none !important;
}
#inputGroupAppend {
  font-size: x-large;
  font-weight: 550;
  margin-top: 5px;
  letter-spacing: 0.1em;
  border-top-left-radius: 0.375rem !important;
  border-bottom-left-radius: 0.375rem !important;
  border: 1px solid rgba(255, 102, 0, 0.5);
  background-color: rgba(255, 102, 0, 0.8);
}
#gmail {
  font-size: x-large;
  letter-spacing: 0.05em;
  font-weight: 550;
}
.listTitle {
  font-weight: 900;
  color: #CCCCCC;
  font-size: xx-large;
  margin-top: -10px;
}
input {
  background-color: #343541 !important;
  border: 2px solid rgba(255, 102, 0, 0.5) !important;
}
select {
  font-size: x-large !important;
  background-color: #343541 !important;
  border: 2px solid rgba(255, 102, 0, 0.5) !important;
}
#submitBtn,
#editBtn {
  position: fixed;
  right: 8%;
  bottom: 10%;
  width: 60px;
  height: 60px;
  background: none;
  border: none;
}
#submitBtn img,
#editBtn img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease;
}
#submitBtn img:hover,
#editBtn img:hover {
  transform: scale(1.2);
}
