.navbarToggler {
  z-index: 99999 !important;
  background-color: #ACACBE !important;
  margin-bottom: 2px !important;
  margin-top: 10px !important;
}

.brandImg {
  width: 35px;
  aspect-ratio: 1 / 1;
  margin-top: 2px;
}

.navLink {
  position: relative;
  display: inline-block;
}

.activeNavLink img {
  border-bottom: 0.4vw solid #ACACBE;
  border-radius: 5px;
  padding-bottom: 3px;
}

.activeNavLinkText {
  color: #1E90FF !important;
  border-bottom: 2px solid #1E90FF;
}

.brand {
  margin-right: auto;
}

.navbarNav {
  margin-left: auto;
  align-items: center;
  transition: transform 0.2s ease;
}

.navbarNavItem {
  margin-left: 0.5vw;
}

.navbarNavItem:hover {
  transform: scale(1.2);
}

.navbarNavItemImg {
  width: 3.5rem;
  height: 3.5rem;
  display: inline-block;
}

.navbarText {
  font-size: 3vh;
  font-weight: 600;
  display: none;
}

.bgBodyTertiary {
  margin-top: -5px;
  background-color: black !important;
}

.navbarHamburgerHover:hover {
  opacity: 0.7;
}

.navbar {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125);
}

.navbarHamburger {
  font-size: 25px;
  cursor: pointer;
  margin-right: 20px;
}

@media (max-width: 988px) {
  .navbarNavItemImg {
    display: none;
  }

  .navbarText {
    display: inline-block;
    color: #CCCCCC;
  }
}