.navbarToggler {
  z-index: 999 !important;
  background-color: #ACACBE !important;
}

.brandImg {
  width: 40px;
}

.navLink {
  position: relative;
  display: inline-block;
}

.activeNavLink img {
  border-bottom: 0.3rem solid #ACACBE;
  border-radius: 5px;
  padding-bottom: 3px;
}

.activeNavLinkText {
  color: #1E90FF !important;
  border-bottom: 2px solid #1E90FF;
}

.brand {
  margin-right: auto;
}

.navbarNav {
  margin-left: auto;
  align-items: center;
}

.navbarNavItem {
  margin-left: 0.5vw;
  transition: transform 0.3s ease;
}

.navbarNavItem:hover {
  transform: scale(1.2);
}

.navbarNavItemImg {
  width: 3rem;
  height: 3rem;
  display: inline-block;
}

.navbarText {
  font-size: 1rem;
  font-weight: 600;
  display: none;
}

.bgBodyTertiary {
  background-color: black !important;
}

.navbar {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125);
}

.navbarCollapse {
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-20px);
}

.navbarCollapse.show {
  opacity: 1;
  transform: translateY(0);
}

.navbarCollapse.hidden {
  display: none;
}

@media (max-width: 769px) {
  .navbarNavItemImg {
    display: none;
  }

  .navbarText {
    display: inline-block;
    color: #CCCCCC;
  }

  .nav-link {
    text-align: center;
    font-size: 1.2rem;
  }

  .navbar>.container-fluid {
    min-height: 10vh;
  }

  .navbarCollapse {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-100%);
  }

  .navbarCollapse.show {
    opacity: 1;
    transform: translateY(0);
    overflow: auto;
  }

  .navbarNav {
    flex-direction: column;
    align-items: center;
  }

  .navbarNavItem {
    margin: 5px 0;
  }
}