.navbarToggler {
  z-index: 1111 !important;
  background-color: #ACACBE !important;
}

.brandImg {
  width: 55px;
  visibility: hidden;
  cursor: default;
}

.showBurgerIcon {
  visibility: visible;
  width: 55px;
}

.navLink {
  position: relative;
  display: inline-block;
}

.activeNavLink img {
  border-bottom: 0.3rem solid #ACACBE;
  border-radius: 5px;
  padding-bottom: 3px;
}

.activeNavLinkText {
  color: #1E90FF !important;
  border-bottom: 2px solid #1E90FF;
}

.brand {
  margin-right: auto;
}

.navbarNav {
  margin-left: auto;
  align-items: center;
  transition: transform 0.2s ease;
  flex-direction: column-reverse;
}

.navbarNavItem {
  margin-left: 0.5vw;
}

.navbarNavItem:hover {
  transform: scale(1.15);
}

.navbarNavItemImg {
  width: 3rem;
  height: 3rem;
  display: inline-block;
}

.navbarText {
  font-size: 1rem;
  font-weight: 600;
  display: none;
}

.bgBodyTertiary {
  background-color: black !important;
  padding: 5px 0px 5px 0px !important;
}

.navbar {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125);
}

.theBurger {
  display: none;
}

@media (max-width: 767.9px) {
  .navbarNavItemImg {
    display: none;
  }

  .navbarText {
    display: inline-block;
    color: #CCCCCC;
  }

  .nav-link {
    text-align: center;
    font-size: 1.2rem;
  }

  .navbar>.container-fluid {
    height: 10vh !important;
  }

  .thePartition {
    display: none;
  }

  .theUserName {
    font-size: 1rem !important;
  }

  .showBurgerIcon {
    width: 40px;
  }

  .theBurger {
    display: inline-block;
  }

  .theLOGOicon {
    margin-left: 15px;
  }
}

.navbarOverlay {
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7777777;
}

.controlZindex {
  z-index: 8888888 !important;
}

.theUserName {
  color: #ACACBE;
  text-align: center;
  font-weight: 800;
  font-size: 1.2rem;
  padding: 3px 10px 3px 10px;
  border-radius: 25px;
  border: 2px solid #ACACBE;
  margin-left: -5px;
  margin-right: -5px;
  white-space: nowrap !important;
}

.thePartition {
  width: 3px;
  height: 38px;
  background-color: #7c7c7d;
  border-radius: 25px;
  margin-left: 9px;
  margin-right: 4px;
}

.activeUserName {
  color: black;
  background-color: #acacbed5;
  border: 2px solid black;
}

.theLOGO {
  display: flex;
}

.LogoTitle {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  font-weight: 700;
  align-self: flex-end;
  margin-left: 10px;
}

@media (max-width: 900px) {
  .LogoTitle {
    display: none;
  }
}

@media (max-width: 850px) {
  .LogoTitle {
    font-size: 1.2rem;
  }
}

@media (max-width: 1024px) {
  .theBurger {
    display: inline-block !important;
    margin-right: 10px;
  }
}