.wrapper {
  position: relative;
}

.addButton {
  background: none;
  padding: 8px 31px;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  color: rgba(172, 172, 190, 0.7);
  font-weight: bold;
  justify-content: center;
  font-size: 1.2rem;
  border: none;
  transition: transform 0.2s, color 0.2s;
  margin-left: 50px;
}

.addButton:hover {
  color: white;
  font-weight: bold;
  transform: scale(1.2);
}

.deleteButton {
  margin-left: 10px;
  color: red;
  background: none;
  border: none;
  cursor: pointer;
}

.deleteButton:hover {
  text-decoration: underline;
}

.bg_shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  z-index: 6000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.openbutton {
  position: fixed;
  top: 0;
  left: 0;
  width: 65px;
  height: 65px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 8888;
}

.sidebar_inner {
  width: 250px;
  position: fixed;
  left: 0;
  height: 100vh;
  z-index: 99999;
  transition: all 0.3s ease;
}

.sidebar_menu {
  background-color: black;
  height: 100%;
  overflow: auto;
  padding: 5px;
  padding-bottom: 30px;
}

.sidebartitle {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1px;
  color: rgb(255, 255, 255, 0.5);
  font-weight: bold;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
}


.sidebartitle:hover {
  background-color: #ACACBE;
  border-radius: 25px;
  color: black;
}

.noGroupMsg {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1px;
  color: rgb(255, 255, 255, 1);
  font-weight: bold;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
}

.active {
  background-color: #ACACBE;
  border-radius: 25px;
  color: black;
}

.close {
  position: absolute;
  top: 40%;
  right: -22%;
  color: #fff;
  cursor: pointer;
  display: none;
  padding: 25px;
}

.close img {
  width: 30px;
  height: 30px;
}

.close:hover {
  opacity: 0.7;
  transition: transform 0.5s ease;
  transform: rotate(-180deg);
}

.editButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 10px;
  transition: transform 0.2s;
  display: none;
  position: absolute;
  right: 20px;
}

.editButton img {
  width: 20px;
  height: 20px;
  vertical-align: text-top !important;
}

li:hover .editButton {
  display: inline-block;
}

.editButton:hover {
  transform: scale(1.2);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  z-index: 9999999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

/* 包住圖片的白色背景 */
.circleIcon {
  position: absolute;
  margin: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 5.5px solid black;
}

/* 圖片樣式 */
.theIcon {
  width: 35px;
  height: 35px;
  display: block;
  position: absolute;
  margin-left: 19.5px;
  margin-top: 17.5px;
  border: none !important;
}

.rename {
  height: 48px;
  display: block;
  position: absolute;
  margin-left: 10px;
  margin-top: 12px;
}

.closeModal {
  border: none;
  background-color: transparent !important;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -19px;
  right: -15px;
  color: black;
  font-size: 2rem;
  font-weight: 900;
}

.closeModal:hover {
  cursor: pointer;
  color: tomato;
}

.modalContent {
  position: relative;
  border-radius: 12px;
  width: 330px;
  margin: 0 auto;
  text-align: center;
  padding: 18px;
  padding-bottom: 10px;
  background-color: #fcfcfc;
}

.modalContent h2 {
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 900;
}

.modalContent input {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 15px;
}

.modalSubmit {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.modalSubmit {
  opacity: 0.8;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999998;
}

@media (max-width: 768px) {
  .sidebar_inner {
    left: -120%;
    transition: all 0.5s ease;

  }

  .main_container {
    width: 100%;
    margin-left: 0;
  }

  .close,
  .navbar .hamburger {
    display: block;
  }

  .wrapper.active .sidebar_inner {
    left: 0;
    transition: all 0.5s ease;
  }

  .wrapper.active .bg_shadow {
    visibility: visible;
    opacity: 0.7;
  }
}

@media (min-width: 1025px) {
  .openbutton {
    display: none;
  }
}

.modalSubmit {
  background: #1E90FF;
  width: 100%;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  position: relative;
  overflow: hidden;
}

.modalSubmit span {
  font-size: 1.2rem;
  color: #000;
  font-weight: 900;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.modalSubmit:before,
.modalSubmit:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #1E90FF;
  transition: all 0.3s ease;
}

.modalSubmit:before {
  height: 0%;
  width: 2px;
}

.modalSubmit:after {
  width: 0%;
  height: 2px;
}

.modalSubmit:hover {
  background: #1e8fff77;
  box-shadow: none;
}

.modalSubmit:hover:before {
  height: 100%;
}

.modalSubmit:hover:after {
  width: 100%;
}

.modalSubmit span:hover {
  color: black;
}

.modalSubmit span:before,
.modalSubmit span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #1E90FF;
  transition: all 0.3s ease;
}

.modalSubmit span:before {
  width: 2px;
  height: 0%;
}

.modalSubmit span:after {
  width: 0%;
  height: 2px;
}

.modalSubmit span:hover:before {
  height: 100%;
}

.modalSubmit span:hover:after {
  width: 100%;
}

@media (max-width: 499px) {

  .addButton,
  .sidebartitle,
  .noGroupMsg,
  .editButton {
    font-size: 1rem !important;
  }

  .sidebar_inner {
    width: 200px;
  }

  .addButton {
    margin-left: 33px;
  }

  .close {
    right: -28%;
  }

  .modalContent {
    width: 200px;
    padding: 10px;
    padding-bottom: 8px;
  }

  .closeModal {
    top: -11px;
    font-size: 1.2rem;
  }

  .circleIcon {
    width: 70px;
    height: 70px;
    top: -55px;
  }

  .theIcon {
    margin-left: 14.5px;
    margin-top: 12.5px;
  }

  .modal {
    padding: 15px;
  }
}