.sideBar250_container {
  border-radius: 15px;
  color: #CCCCCC;
  height: 100vh;
  margin-left: 250px;
  width: calc(100% - 250px);
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .sideBar250_container {
    width: 100%;
    margin-left: 0;
  }
}