.moreIcon {
  width: 50px;
  height: 50px;
}

.ball {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: white;
}

.load {
  background-color: #343542;
  border-radius: 25px;
  display: flex;
  gap: 3.5px;
  width: 37px;
  height: 37px;
  justify-content: center;
  align-items: center;
}

.nowLoading .ball:nth-child(1) {
  animation: loadingC 0.6s 0.1s ease-in-out infinite;
}

.nowLoading .ball:nth-child(2) {
  animation: loadingC 0.6s 0.2s ease-in-out infinite;
}

.nowLoading .ball:nth-child(3) {
  animation: loadingC 0.6s 0.3s ease-in-out infinite;
}

@keyframes loadingC {

  0%,
  100% {
    transform: translateY(-4px);
  }

  50% {
    transform: translateY(4px);
  }
}

.chartContainer {
  position: absolute;
  right: 0;
  top: 7%;
  margin-right: 10px;
}

.chart {
  width: 100%;
  height: 100%;
}

#portal-root div {
  z-index: 9;
}

.dropdown {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2000;
}

.dropdownButton {
  background-color: transparent !important;
  font-size: 24px;
  cursor: pointer;
  width: 50px !important;
}

.dropdownMenu {
  background-color: black;
  display: block;
  position: absolute;
  border-radius: 15px;
  padding: 10px;
  z-index: 5000;
  gap: 20px;
}

.dropdownMenu li {
  padding: 10px;
  cursor: pointer;
}

.dropdownMenu li:hover {
  background-color: #eee;
}

.modal {
  height: 75%;
  overflow: auto;
  width: 40%;
  position: fixed;
  top: 50%;
  overflow-x: hidden;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 300010;
  background: #212121;
  color: #CCCCCC;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 2.5px 2.5px 2.5px rgba(255, 255, 255, 0.3);
}

@media (max-width: 850px) {
  .modal {
    width: 65%;
  }
}

@media (max-width: 500px) {
  .modal {
    width: 80%;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

/* 進階分析樣式 */
.advancedAnalysisForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advancedAnalysisForm h2 {
  width: 100%;
  font-weight: bold;
  margin: 0px !important;
  margin-bottom: 1.5rem !important;
  text-align: center;
}

.advancedAnalysisForm h3 {
  font-size: 1.2rem;
  font-weight: 900;
  background-color: aliceblue;
  color: black;
  margin-bottom: 1rem;
  border-radius: 15px;
  padding: 10px;
  display: ruby-text;
}

.advancedAnalysisForm img {
  margin: 15px;
  width: 100%;
}

.aiAnalysisForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aiAnalysisForm h3 {
  font-size: 1.2rem;
  font-weight: 900;
  background-color: aliceblue;
  color: black;
  margin-bottom: 1rem;
  border-radius: 15px;
  padding: 10px;
  display: ruby-text;
}

.aiAnalysisForm h2 {
  width: 100%;
  font-weight: bold;
  margin: 0px !important;
  margin-bottom: 1.5rem !important;
  text-align: center;
}

/* 交辦表單樣式 */
.AssignForm h2 {
  width: 100%;
  font-weight: bold;
  margin: 0px !important;
  margin-bottom: 1.5rem !important;
  text-align: center;
}

.AssignForm {
  display: flex;
  flex-wrap: wrap;
}

.AssignForm .labelGroup {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
  border-bottom: 3px solid #acacbe60;
}

.noBorderBottom {
  border-bottom: none !important;
}

.AssignForm label {
  flex-shrink: 0;
  font-weight: bold;
  font-size: 1.1rem;
  margin-right: 1.2rem;
  margin-bottom: 3px;
}

.AssignForm input {
  font-size: 1.1rem;
  flex-grow: 1;
  font-weight: bold;
  background-color: transparent;
  color: white;
  border: none;
  margin-bottom: 6px;
}

.select {
  position: relative;
  display: flex;
  overflow: hidden;
  flex: 1;
  border: none;
  font-size: 1.05rem;

  select {
    width: 100%;
    padding: 7px;
    border: none;
    appearance: none;
    outline: 0;
    background: none;
    color: inherit;
    box-shadow: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 600;
  }

  &::after {
    content: "\25BC";
    position: absolute;
    right: 12px;
    top: 4px;
    transition: 0.25s all ease;
    pointer-events: none;
  }

  &:hover::after {
    color: #1E90FF;
    animation: bounce 0.5s infinite;
  }
}

.AssignForm textarea {
  color: white;
  max-height: 300px;
  resize: none;
  width: 100%;
  height: 150px;
  background: none;
  border: none;
  font-size: 1.15rem;
}

.LastlabelGroup {
  border-bottom: none !important;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.chartList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chartList li {
  padding: 10px;
  cursor: pointer;
}

.chartList li:hover {
  background-color: #eee;
}

.dropdownMenu {
  top: 75%;
  right: 15%;
}

.dropdownMenu button {
  margin-bottom: 10px;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.submit:hover {
  transform: scale(1.2) !important;
}

.cancel:hover {
  transform: scale(1.2) !important;
}

.cancel {
  margin-left: 10px;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: bold;
  background-color: black;
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  padding: 5px 15px;
  transition: transform 0.2s ease-out;
}

.submit {
  margin-left: 10px;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 5px 15px;
  transition: transform 0.2s ease-out;
}

.applyKpiGroupOption {
  color: white !important;
  background-color: #333 !important;
  font-weight: bold !important;
}

.alertMessage {
  color: red;
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
  z-index: 10000; /* 增加 z-index 確保在其他元素前面 */
  position: fixed; /* 讓它顯示在固定位置 */
  top: 50%; /* 調整位置 */
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}


.lastButton {
  margin-bottom: 0px !important;
}