.chartContainer {
  position: absolute;
  left: 10px;
  top: 0;
}

.chartHeader {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.dropdownContainer {
  position: relative;
}

.chart {
  position: relative;
  width: 100%;
  height: 100%;
}


.dropdown {
  position: fixed;
  /* 确保 dropdown 菜单固定在视口中 */
  top: 10px;
  right: 10px;
  z-index: 2000;
  /* 确保 dropdown 菜单在其他内容之上 */
}

.dropdownButton {
  font-size: 24px;
  /* 更大的字体大小 */
  border: none;
  padding: 10px;
  /* 增加内边距 */
  cursor: pointer;
  /* 显示为可点击区域 */
}

.dropdownMenu {
  display: block;
  /* 确保菜单在打开时可见 */
  position: absolute;
  /* 更好控制的位置 */
  top: 100%;
  right: 0;
  background-color: #fff;
  /* 背景颜色确保菜单清晰可见 */
  border: 1px solid #ddd;
  /* 边框分隔 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* 阴影效果 */
  z-index: 1000;
  /* 确保菜单在其他内容之上 */
}

.dropdownMenu li {
  padding: 10px;
  /* 增加内边距，方便点击 */
  cursor: pointer;
  /* 显示为可点击区域 */
}

.dropdownMenu li:hover {
  background-color: #eee;
  /* 鼠标悬停时的背景色 */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  /* 确保 modal 在其他内容之上 */
}

.modal h2 {
  margin-top: 0;
}

.modal form {
  display: flex;
  flex-direction: column;
}


.modalContent {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  z-index: 2000;
  /* 确保 modal 内容在 modal 背景之上 */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.formGroup {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

form button {
  padding: 10px 15px;
  background: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background: #0056b3;
}

.chartList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chartList li {
  padding: 10px;
  cursor: pointer;
}

.chartList li:hover {
  background-color: #eee;
}

.dropdownMenu {
  top: 0;
  left: 100%;
  margin-left: 8px;
  /* 控制與按鈕之間的間距 */
}