#msform {
  top: 50%;
  width: 45%;
  background-color: #333;
  right: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: fixed;
  padding: 30px;
  border-radius: 20px;
}

.KPIapplicant {
  border: none !important;
}

.firstNext {
  margin-top: 15px;
  width: 100% !important;
}

#msform h2 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 10px;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 15px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  position: relative;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform input,
#msform textarea {
  font-weight: 700;
  font-size: 1rem !important;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 0.8rem;
  margin-top: 10px;
}

.dashboardDescription {
  margin-top: 0px !important;
  resize: none;
  height: 30vh;
}

.kpiInputs {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999;
}

.checkboxWrapper {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 1rem;
}

.checkboxWrapper {
  width: 85%;
  border: 2px solid #ACACBE;
  padding: 5px;
  border-radius: 20px;
  position: relative;
}

.checkboxWrapper label:first-of-type {
  margin-top: 2px !important;
}

.kpiInputs:checked+label {
  background-color: #1E90FF;
  color: black;
  padding: 7px;
  border-radius: 20px;
  border: none;
}

.applyMore {
  border: none;
  background: none;
  width: 100%;
  padding: 5px;
  color: blue;
}

.kpiInputs:checked+label::after {
  content: '✔';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 26px;
  color: white;
}

.kpiInputs:hover {
  transform: none !important;
}

.buttonGroup {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.buttonGroup>* {
  flex: 1 1 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.finish:hover {
  box-shadow: 0 0 0 1px white, 0 0 0 4px #279eae !important;
}

.actionButton {
  width: 100px;
  background: #2892f9ba;
  font-weight: bold;
  color: black;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
}

.actionButton:hover,
.actionButton:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #1E90FF;
}

.closeForm {
  position: fixed;
  right: 2%;
  top: 7%;
  width: 50px;
  height: 50px;
  z-index: 4;
  transition: transform 2s ease-in-out;
}

.closeForm img {
  width: 20px;
}

.closeForm:hover img {
  transform: scale(1.2);
}

.theKPIs {
  overflow: auto;
  overflow-x: hidden;
  max-height: 235px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fsTitle {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
  font-weight: 900;
}

.fsSubtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 15px;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  font-size: 9px;
  width: 33.33%;
  float: left;
  color: #ccc;
  position: relative;
  font-weight: 800;
  font-size: 0.8rem;
  z-index: 3;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: #6d6d6d;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}

#progressbar li:first-child:after {
  content: none;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #1E90FF;
  color: white;
}

/* 標準樣式 */
#progressbar li:after {
  content: '';
  width: 89%;
  height: 2px;
  background: #545454;
  position: absolute;
  left: -41%;
  top: 9px;
  z-index: -1;
}


/* 當螢幕寬度小於 768px 時 */
@media (max-width: 768px) {
  #msform {
    width: 75%;
  }
}

/* 當螢幕寬度小於 480px 時 */
@media (max-width: 480px) {
  #msform {
    width: 95%;
  }
}

/* 樣式的那根進度條會明顯凸出來，這是細度的媒體查詢修改 */
@media (min-width: 480px) and (max-width: 860px) {
  #progressbar li:after {
    left: -44.8%;
    width: 95%;
  }
}

@media (min-width: 1286px) {
  #progressbar li:after {
    left: -45.5%;
    width: 95%;
  }
}

.formOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 300000;
}

.checkFormContent {
  height: 77%;
  overflow: auto;
  width: clamp(45%, 20%, 80%);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 300010;
  background: #212121;
  color: #CCCCCC;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 2.5px 2.5px 2.5px rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
  .checkFormContent {
    width: clamp(60%, 75vw, 80%);
  }
}

.checkFormContent h2 {
  font-weight: bold;
  margin: 0px !important;
  margin-bottom: 1.5rem !important;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: rgba(255, 255, 255, 0.207);
}

.checkFormContent form label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.checkFormContent .submit {
  margin-left: 10px;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 5px 15px;
  transition: transform 0.2s ease-out;
}

.checkFormContent .cancel {
  margin-left: 10px;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: bold;
  background-color: black;
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  padding: 5px 15px;
  transition: transform 0.2s ease-out;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.applyKPItextarea {
  resize: none;
  width: 100%;
  height: 160px;
  border: none;
  background: none;
  color: white;
  font-size: 1rem;
  font-weight: 800;
}


.submit:hover {
  transform: scale(1.2) !important;
}

.cancel:hover {
  transform: scale(1.2) !important;
}

.KPIbuttonGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.submit:hover {
  transform: scale(1.2) !important;
}

.cancel:hover {
  transform: scale(1.2) !important;
}

.applyKPIlabelGroup label {
  margin-right: 10px;
}

.checkFormContent input {
  font-weight: bold;
  font-size: 1rem;
  background-color: transparent;
  color: white;
  border: rgba(255, 255, 255, 0.3) 3px solid;
  border-radius: 5px;
  width: 155px;
  padding: 5px 5px 5px 15px;
  margin-left: 7px;
}

.applyKPIlabelGroup select {
  font-weight: bold;
  font-size: 1rem;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.4);
  border: rgba(255, 255, 255, 0.3) 3px solid;
  border-radius: 5px;
  padding: 5px 8.5px;
  margin-left: 8px;
}


.applyKPIlabelGroup {
  border-bottom: 2px solid #acacbe8e;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.cancel {
  margin-left: 10px;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: bold;
  background-color: black;
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  padding: 5px 15px;
  transition: transform 0.2s ease-out;
}

.submit {
  margin-left: 10px;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 5px 15px;
  transition: transform 0.2s ease-out;
}

.showcaseImage {
  width: 50px;
  height: auto;
  object-fit: contain;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .showcaseImage {
    width: 80px;
    /* Smaller width for smaller screens */
  }
}

@media (min-width: 601px) {
  .showcaseImage {
    width: 120px;
    /* Larger width for larger screens */
  }
}

.LabelImgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.disabled {
  background-color: #a2a2a2eb;
}

.MuiTooltip-popper {
  z-index: 9999999999999999999999999999999;
}