.theEmailBox {
  display: flex;
  height: 89.5vh;
}

.LeftMail,
.RightMail {
  overflow: auto;
  background-color: #343541;
  color: #CCCCCC;
  border-radius: 15px;
  margin-bottom: 5px;
}

.LeftMail {
  width: 50%;
  display: flex;
  margin-right: 3px;
  flex-direction: column;
  margin-left: 3px;
}

.RightMail {
  width: 50%;
  margin-top: 0px;
  margin-right: 3px;
  margin-left: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.theMailHidden {
  display: none;
}

.backButton {
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  align-self: flex-start;
  align-items: center;
  position: fixed;
}

.backIcon {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease;
}

.backIcon:hover {
  transform: scale(1.15);
}

.backIcon:active {
  transform: scale(0.9);
}


.sendButton {
  background-color: #1E90FF;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  align-self: flex-end;
}

.sendButton {
  position: fixed;
}

.chatboxContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.errorMsg {
  color: red;
  font-weight: bold;
  display: none;
}


@media (min-width: 768px) {
  .theEmailBox {
    flex-direction: row;
  }

  .theMailHidden {
    display: block;
  }

  .RightMail .backButton {
    display: none;
  }
}

@media (max-width: 767.99px) {
  .theEmailBox {
    flex-direction: column;
    height: 94.5vh !important;
  }

  .LeftMail {
    width: 99vw;
    margin-left: 3px;
    height: 100% !important;
  }

  .RightMail {
    width: 98.5vw;
    height: 100% !important;
  }

  .backButton {
    display: block;
  }
}