.mainEmailUnique {
  display: flex;
  height: 100vh;
}

.leftsideUnique,
.rightsideUnique {
  overflow: auto;
  background-color: #343541;
  color: #CCCCCC;
  border-radius: 15px;
  margin-bottom: 5px;
}

.leftsideUnique {
  width: 50%;
  display: flex;
  margin-right: 3px;
  flex-direction: column;
  margin-left: 3px;
}

.rightsideUnique {
  width: 50%;
  margin-top: 0px;
  margin-right: 3px;
  margin-left: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hiddenUnique {
  display: none;
}

.toggleButtonUnique,
.sendButtonUnique {
  background-color: #1E90FF;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  align-self: flex-end;
}

.chatContainerUnique {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.errorMsg {
  color: red;
  font-weight: bold;
}


@media (min-width: 768px) {
  .mainEmailUnique {
    flex-direction: row;
  }

  .hiddenUnique {
    display: block;
  }

  .rightsideUnique .toggleButtonUnique {
    display: none;
  }
}

@media (max-width: 767px) {
  .mainEmailUnique {
    flex-direction: column;
  }

  .leftsideUnique {
    width: 98.5vw;
    /* 剩下的1.5是給右邊距的 */
    margin-left: 3px;
  }

  .leftsideUnique,
  .rightsideUnique {
    flex: 1;
  }

  .toggleButtonUnique {
    display: block;
  }
}