.tableContainer {
  font-size: 1rem;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  height: 85vh;
  overflow: auto;
  padding-bottom: 0px;
}

.tableFilters {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.tableFilters select,
.tableFilters input {
  font-size: 1rem !important;
  padding: 5px;
  border-radius: 5px;
  border: 3px solid #555 !important;
  background-color: #444;
  color: #fff;
  font-weight: 600;
}

.userTable {
  border-radius: 10px;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.userTable th,
.userTable td {
  padding: 15px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.userTable th {
  font-size: 1rem;
  background-color: #444;
  color: white;
}

.userTable tbody tr:nth-child(even) {
  background-color: #444;
}

.endMsg {
  text-align: center;
  margin: 20px;
}

.searchInput::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background: url('../../assets/icon/closeX.svg') no-repeat center;
  background-size: contain;
}

.searchInput::-moz-search-clear {
  height: 12px;
  width: 12px;
  background-size: contain;
  background: url('../../assets/icon/closeX.svg') no-repeat center;

}