.tableTitle h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 5px;
  margin-bottom: 10px;
}

.theList {
  color: #CCCCCC;
  font-size: 1.2rem;
  font-weight: bold;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.theTable table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: auto;
  line-height: 2.5 !important;
}

.theTable tr {
  line-height: 25px;
}

.theTable th {
  line-height: inherit;
}

.theTable th,
.theTable td {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.25);
}

.theTable th {
  background-color: #444;
  color: white;
}

.theTable tr:nth-child(even) {
  background-color: #444;
}

@media (max-width: 575px) {
  .theList tr {
    font-size: 1rem;
  }

  .theList button {
    font-size: 1rem;
    padding: 0 5px 0 5px;
  }

  .theList td {
    font-size: 1rem;
  }

  .theTable td {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.disapproveButton {
  margin-left: 5px;
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.disapproveButton:hover {
  background-color: #A52824;
}

.approveButton {
  margin-left: 5px;
  background-color: #94C546;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.approveButton:hover {
  background-color: #6E8B30;
}

.endMsg {
  font-weight: 700;
  text-align: center;
  margin: 20px;
}