.admin-navbar {
  background-color: #000000; /* Black background */
  color: #ffffff; /* White text */
  position: fixed; /* Fixed position */
  width: 100%; /* Full width */
  z-index: 1000; /* Ensure it's above other content */
  top: 0; /* Positioned at the top */
}

.admin-navbar .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.admin-navbar .navbar-brand.hamburger img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.admin-navbar .nav-link {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}

.admin-navbar .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.5px;
  background-color: #acacbe; /* Light gray */
  border-radius: 5px;
  z-index: 1000;
}

.admin-navbar .navbar-nav {
  margin-left: auto;
}

.admin-navbar .navbar-nav .nav-item {
  margin-left: 10px;
}

.admin-navbar .navbar-nav .nav-item:hover {
  transform: scale(1.1);
}

.admin-navbar .navbar-nav .nav-item img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .admin-navbar .d-lg-none {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    z-index: 1000;
    overflow: hidden;
  }

  .admin-navbar .d-lg-none .slick-list {
    width: 100%;
  }

  .admin-navbar .d-lg-none .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .admin-navbar .d-lg-none .nav-link {
    text-align: center;
    font-size: 10px;
  }

  .admin-navbar .navbar-collapse {
    display: none !important;
  }
}

.admin-navbar .d-lg-none .slick-slide img {
  width: 100%;
  height: 50px;
}
