.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 90%; /* 改为相对于屏幕宽度的百分比 */
    width: 90%; /* 改为相对于屏幕宽度的百分比 */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
