.EmailFilter {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  min-width: 250px;
}

.EmailFilter .EmailFilterOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 40px;
  font-size: 1.5rem;
  margin: 5px;
  white-space: nowrap;

  @media (min-width: 768px) and (max-width: 930px) {
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    margin: 2px 0;
  }

  @media (max-width: 460px) {
    width: 100%;
    height: auto;
    font-size: 1rem;
    margin: 2px 0;
  }

  @media (max-width: 325px) {
    font-size: 0.8rem;
  }
}

.EmailFilterOptions input[type="checkbox"] {
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid transparent;
  margin-right: 6px;
  cursor: pointer;

  @media (min-width: 768px) and (max-width: 930px) {
    height: 20px;
    width: 20px;
    border-radius: 6px;
  }

  @media (max-width: 460px) {
    height: 20px;
    width: 20px;
    border-radius: 6px;
  }

  @media (max-width: 325px) {
    height: 15px;
    width: 15px;
    border-radius: 6px;
  }
}

.EmailFilterOptions input[type="checkbox"]:hover {
  transform: scale(1.1);
}

.EmailFilterOptions input[type="checkbox"]:hover+label {
  transform: scale(1.1);
}

.EmailFilterOptionsinput[type="checkbox"]:checked {
  border: 13px solid #1E90FF;

  @media (max-width: 325px) {
    border: 8px solid #1E90FF;
  }

  @media (max-width: 460px) {
    border: 11px solid #1E90FF;
  }

  @media (min-width: 768px) and (max-width: 930px) {
    border: 11px solid #1E90FF;

  }
}


/* 如果希望字也跟著一起變色的話 */
/* .EmailFilterOptions input[type="checkbox"]:checked + label {
  color: #1E90FF;
} */