.kpi {
  display: flex;
  position: relative;
  padding-top: 4px;
  max-width: 100%;
  padding-bottom: 12px;
  border-bottom: 1.5px solid #CCCCCC;
}

.kpi img {
  max-width: 30%;
  border-radius: 10px;
  border: 3px solid black;
}

.emailName {
  margin-top: 3px;
  margin-bottom: 2px;
  width: fit-content;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 4px;
}

.leftmail:nth-child(n+2) .kpiname {
  margin-top: 10px;
}

.kpi .assignor {
  position: absolute;
  bottom: 10%;
  margin-left: 10px;
  font-size: large;
  font-weight: bold;
}

.kpi .time {
  position: absolute;
  right: 0%;
}

@media (max-width: 768px) {
  .kpi {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .kpi img {
    max-width: 50%;
    margin-bottom: 5px;
  }

  .emailName {
    font-size: 1em;
    position: relative;
    top: auto;
    left: auto;
    margin-bottom: 5px;
  }

  .kpi .assignor {
    font-size: medium;
    position: relative;
    bottom: auto;
    right: auto;
    margin-bottom: 5px;
  }

  .kpi .time {
    position: relative;
    right: auto;
    font-size: small;
    margin-bottom: 5px;
  }
  .completeButton {
    position: absolute;
    right: 90px; /* 固定在左側 */
    bottom: 15px; /* 固定距離底部 */
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .completeButton:hover {
    background-color: #218838;
  }
  
  .deleteButton {
    position: absolute;
    right: 10px; /* 固定在右側 */
    bottom: 10px; /* 固定距離底部 */
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
  }
  
  .deleteButton img {
    width: 20px;
  }
}

.completeButton {
  position: absolute;
  right: 90px; /* 固定在左側 */
  bottom: 15px; /* 固定距離底部 */
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.completeButton:hover {
  background-color: #218838;
}

.deleteButton {
  position: absolute;
  right: 10px; /* 固定在右側 */
  bottom: 10px; /* 固定距離底部 */
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.deleteButton img {
  width: 100px;
}