.eachMailBriefSection {
  height: 130px;
  width: 100%;
  overflow: hidden;
  display: flex;
  border-bottom: 2px solid #acacbe91;
  padding-bottom: 5px;
  padding-top: 5px;
}

.KPI {
  height: 100%;
  width: auto;
  margin-right: 5px;
}

.mailHeader {
  width: -webkit-fill-available;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topArea {
  width: 100%;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.assignor {
  font-weight: 900;
}

.assignor,
.time {
  font-size: 1rem;
  white-space: nowrap;
}

.bottomArea {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.emailTitle {
  font-size: 2rem;
  font-weight: 800;
  white-space: nowrap;
  width: 20px;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #343541;
  z-index: 2;
}

.completeButton,
.deleteButton {
  background-color: rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.completeButton:hover,
.deleteButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.completeIcon,
.deleteIcon {
  width: 25px;
  height: 25px;
}

/* 響應式 */

@media (max-width: 1000px) {
  .eachMailBriefSection {
    height: 100px;
  }

  .mailHeader {
    padding-left: 5px;
  }

  .assignor,
  .time {
    font-size: 1rem;
    white-space: nowrap;
  }

  .emailTitle {
    font-size: 1.5rem;
  }

  .buttonGroup {
    gap: 5px;
  }

  .completeButton,
  .deleteButton {
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  .completeIcon,
  .deleteIcon {
    width: 20px;
    height: 20px;
  }

}


@media (max-width: 330px) {
  .eachMailBriefSection {
    height: 100px;
  }

  .mailHeader {
    padding: 0px;
  }

  .assignor,
  .time {
    white-space: wrap;
  }

  .time {
    font-size: 0.8rem;
    align-content: flex-end;
  }

  .emailTitle {
    font-size: 1.2rem;
  }

  .buttonGroup {
    gap: 5px;
  }

  .completeButton,
  .deleteButton {
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  .completeIcon,
  .deleteIcon {
    width: 20px;
    height: 20px;
  }

}

.eachMailBriefSection {
  height: 130px;
  width: 100%;
  overflow: hidden;
  display: flex;
  border-bottom: 2px solid #acacbe91;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
}


.button {
  background-color: rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.selectedButton {
  background-color: #e0f7fa; /* 當 item 被選取時按鈕的反白顏色 */
}

.completeIcon,
.deleteIcon {
  width: 25px;
  height: 25px;
}