/* mail.css */
*,
::after,
::before {
  box-sizing: border-box;
}
body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, PingFangSC-Regular, "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
}
img {
  vertical-align: bottom;
}
ul {
  list-style-type: none;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body,
html {
  background-color: black;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  min-width: 300px;
}
body {
  font-family: 'Helvetica', 'Arial', 'Noto Sans TC', '黑體-繁', '微軟正黑體', sans-serif !important;
}
.navbar-toggler {
  background-color: #ACACBE;
  margin-bottom: 2px;
  margin-top: 10px;
}
.brand img {
  width: 35px;
  aspect-ratio: 1 / 1;
  margin-top: 2px;
}
.nav-link {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
}
.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 3.5px;
  background-color: #ACACBE;
  border-radius: 5px;
  z-index: 1000;
}
.brand {
  margin-right: auto;
}
.navbar-nav {
  margin-left: auto;
  align-items: center;
  transition: transform 0.2s ease;
}
.navbar-nav .nav-item {
  margin-left: 0.5vw;
}
.navbar-nav .nav-item :hover {
  transform: scale(1.1);
}
.navbar-nav .nav-item img {
  width: 3vw;
  height: 3vw;
  display: inline-block;
}
.nav-text {
  font-size: 3vh;
  font-weight: 600;
  display: none;
}
.navbar-nav .nav-item:nth-child(4) img {
  padding-top: 3px;
}
.bg-body-tertiary {
  margin-top: -5px;
  background-color: black !important;
}
@media (max-width: 988px) {
  .navbar-nav .nav-item img {
    display: none;
  }
  .navbar-nav .nav-item .nav-text {
    display: inline-block;
    color: #CCCCCC;
  }
}
.mainEmail {
  display: flex;
}
.leftside,
.rightside {
  overflow: auto;
  width: 50vw;
  height: 87.5vh;
  background-color: #343541;
  color: #CCCCCC;
  border-radius: 15px;
  margin: 5px;
  margin-top: 0px;
}
.leftside {
  display: flex;
  margin-right: 3px;
  flex-direction: column;
}
.rightside {
  margin-left: 3px;
}
.filter {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.filter .options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 40px;
  font-size: x-large;
  margin: 5px;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid transparent;
  margin-right: 6px;
  cursor: pointer;
}
input[type="checkbox"]:hover {
  transform: scale(1.1);
}
input[type="checkbox"]:hover + label {
  transform: scale(1.1);
}
input[type="checkbox"]:checked {
  border: 15px solid #1E90FF;
}
input[type="checkbox"]:checked + label {
  color: #1E90FF;
}
.mailBreif {
  margin: 10px;
  margin-top: 2px;
  border-top: 1.5px solid #ACACBE;
  padding: 5px;
}
.leftmail,
.rightmail {
  margin: 5px;
}
.kpi {
  display: flex;
  position: relative;
  padding-top: 4px;
  max-width: 100%;
  padding-bottom: 12px;
  border-bottom: 1.5px solid #CCCCCC;
}
.kpi img {
  max-width: 30%;
  border-radius: 10px;
  border: 3px solid black;
}
.kpiname {
  position: absolute;
  top: 13px;
  left: 12px;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 4px;
}
.kpi .caption {
  position: absolute;
  top: 50%;
  right: 35%;
  font-size: xx-large;
  font-weight: bolder;
}
.kpi .assignor {
  position: absolute;
  bottom: 10%;
  right: 35%;
  font-size: large;
  font-weight: bold;
}
.kpi .time {
  position: absolute;
  right: 0%;
}
.rightside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mailTitle {
  margin: 10px;
  margin-top: 5px;
  position: relative;
  width: 97%;
  height: 12%;
  border-bottom: 1px solid #ACACBE;
}
.mailTitle .caption {
  font-weight: bolder;
  font-size: 2em;
  position: absolute;
  top: 15%;
}
.mailTitle .assignor {
  position: absolute;
  bottom: 5%;
  font-size: 1.3em;
  font-weight: bold;
  opacity: 70%;
}
.mailTitle .fa-solid {
  font-size: 3em;
  position: absolute;
  top: 12px;
  right: 10px;
}
.rightside input {
  border: 2px solid #CCCCCC;
  margin: 20px;
  background-color: #343541;
  height: 150px;
}
::-webkit-scrollbar {
  width: 1.5em;
}
::-webkit-scrollbar-track {
  background: #343541;
  border-radius: 100vw;
  margin-block: 0.5em;
}
::-webkit-scrollbar-thumb {
  background: #000;
  border: 0.25em solid #343541;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(204, 204, 204, 0.5);
}
::-webkit-scrollbar-button {
  display: none;
}
.rightside {
  overflow: hidden;
}
.input-container {
  margin: 15px 20px;
  display: flex;
  align-items: center;
  background-color: #343541;
  border: #000 solid 0.5em;
  border-radius: 15px;
  padding: 0px 50px 0px 10px;
  width: 96.5%;
  height: 12vh;
  position: relative;
}
.input-container textarea {
  flex-grow: 1;
  border: none;
  background: none;
  color: #CCCCCC;
  font-size: 24px;
  outline: none;
  padding: 10px;
  resize: none;
  overflow-y: auto;
  max-height: 20vh;
  word-wrap: break-word;
  word-break: break-all;
}
.input-container textarea::placeholder {
  color: #aaa;
}
.input-container .arrow-icon {
  position: absolute;
  right: 20px;
  font-size: 24px;
  color: #aaa;
  cursor: pointer;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 1em;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #343541;
  border-radius: 100vw;
  margin-block: 0.5em;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: black;
  border: 0.25em solid #343541;
  border-radius: 100vw;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(204, 204, 204, 0.5);
}
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}
