/* src/styles/chatBox.css */

.chatContainer {
  background-color: #343541;
  border-radius: 15px;
  padding: 20px;
  margin: 20px; /* 调整整体边距 */
}

.mailTitle {
  margin-top: 10px; /* 调整标题顶部间距 */
  margin-bottom: 15px; /* 调整标题底部间距 */
  position: relative;
  border-bottom: 1px solid #acacbe;
}

.mailTitle .caption {
  font-weight: bold;
  font-size: 1.5em; /* 调整标题字体大小 */
  position: absolute;
  top: 5px; /* 调整标题垂直位置 */
  left: 10px; /* 调整标题水平位置 */
}

.mailTitle .assignor {
  position: absolute;
  bottom: 5px; /* 调整发起人文本底部间距 */
  font-size: 1em; /* 调整发起人文本字体大小 */
  font-weight: bold;
  opacity: 0.7; /* 调整发起人文本透明度 */
}

.mailTitle .fa-solid {
  font-size: 2em; /* 调整图标大小 */
  position: absolute;
  top: 5px; /* 调整图标垂直位置 */
  right: 10px; /* 调整图标水平位置 */
}

.chatBox {
  padding: 15px; /* 调整聊天框内边距 */
  margin-bottom: 20px; /* 调整聊天框与输入框之间的间距 */
  height: 300px; /* 临时设置聊天框高度，根据需要调整 */
  overflow-y: auto; /* 添加滚动条 */
}

.input-container {
  margin-top: 20px; /* 调整输入框顶部间距 */
  display: flex;
  align-items: center;
  background-color: #343541;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 10px; /* 调整输入框内边距 */
}

.input-container textarea {
  flex-grow: 1;
  border: none;
  background: none;
  color: #cccccc;
  font-size: 16px; /* 调整输入框文字大小 */
  outline: none;
  padding: 10px;
  resize: none;
  overflow-y: auto;
  max-height: 150px; /* 调整输入框最大高度 */
}

.input-container textarea::placeholder {
  color: #aaa;
}

.input-container .arrow-icon {
  font-size: 20px; /* 调整发送按钮图标大小 */
  color: #aaa;
  cursor: pointer;
  margin-left: 10px; /* 调整发送按钮与输入框之间的间距 */
}

.custom-scrollbar {
  height: 300px; /* 与.chatBox的高度保持一致 */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* 调整滚动条宽度 */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #343541;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
  border: 2px solid #343541;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(204, 204, 204, 0.5);
}
