src/styles/Home.css .Home {
  padding: 20px;
}

.staticContent {
  margin-bottom: 20px;
  text-align: center;
}

.dataCard {
  background-color: #efefef;
  border-radius: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.dataCard button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.dataCard button:hover {
  background-color: darkred;
}

.revenueCard {
  width: 100%;
  height: 100%;
}

.customerCard {
  width: 100%;
  height: 100%;
}

.categoryCard {
  width: 100%;
  height: 100%;
}

.chart {
  position: relative;
  height: 100%;
  width: 100%;
}

/* Media Queries for RWD */
@media (max-width: 768px) {
  .dataCard {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .dataCard {
    width: 100%;
    height: auto;
  }
}