.mainEmail {
  display: flex;
}

.leftside,
.rightside {
  overflow: auto;
  width: 50vw;
  height: 87.5vh;
  background-color: #343541;
  color: #CCCCCC;
  border-radius: 15px;
  margin: 5px;
  margin-top: 0px;
}

.leftside {
  display: flex;
  margin-right: 3px;
  flex-direction: column;
}

.rightside {
  margin-left: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.toggle-button {
  background-color: #1E90FF;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .mainEmail {
    flex-direction: column;
  }

  .leftside,
  .rightside {
    width: 100%;
    height: auto;
    margin: 5px 0;
  }

  .leftside.hidden {
    display: none;
  }

  .rightside.hidden {
    display: none;
  }
}

.toggle-button {
  background-color: #1E90FF;
  color: #fff;
  border: none;
  padding: 10px 10px; /* 调整按钮的内边距 */
  cursor: pointer;
  border-radius: 5px;
  margin: 60px auto; /* 默认的 margin */

  /* 响应式调整 */
  @media (max-width: 768px) {
    margin: 40px auto; /* 在小屏幕设备上调整 margin */
    padding: 8px 8px; /* 在小屏幕设备上调整 padding */
  }
}

