.mainEmailUnique {
  display: flex;
  height: 100vh;
}

.leftsideUnique,
.rightsideUnique {
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: #343541;
  color: #CCCCCC;
  border-radius: 15px;
  margin: 5px;
  margin-top: 0px;
}

.leftsideUnique {
  display: flex;
  margin-right: 3px;
  flex-direction: column;
}

.rightsideUnique {
  margin-left: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hiddenUnique {
  display: none;
}

.toggle-buttonUnique,
.create-buttonUnique,
.update-buttonUnique,
.delete-buttonUnique,
.send-buttonUnique {
  background-color: #1E90FF;
  color: #fff;
  border: none;
  padding: 5px 10px; /* Adjusted padding to match delete button size */
  cursor: pointer;
  border-radius: 5px;
  margin: 10px; /* Margin can be adjusted based on spacing requirements */
  align-self: flex-end; /* Ensures it aligns to the right in the container */
}

.chat-containerUnique {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
  font-weight: bold;
}

/* Media query for responsive design */
@media (min-width: 768px) {
  .mainEmailUnique {
    flex-direction: row;
  }

  .hiddenUnique {
    display: block;
  }

  .rightsideUnique .toggle-buttonUnique {
    display: none;
  }
}

@media (max-width: 767px) {
  .mainEmailUnique {
    flex-direction: column;
  }

  .leftsideUnique,
  .rightsideUnique {
    flex: 1;
  }

  .toggle-buttonUnique {
    display: block;
  }
}