.react-resizable {
    position: relative;
  }
  
  .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    background: #f0f0f0;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    cursor: se-resize;
  }
  