.dashboard_container {
  border-radius: 15px;
  color: #CCCCCC;
  height: 100vh;
  margin-left: 250px;
  width: calc(100% - 250px);
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .dashboard_container {
    width: 100%;
    margin-left: 0;
  }
}


.staticContent {
  margin-bottom: 20px;
  text-align: center;
}

.dataCard {
  background-color: #efefef;
  border-radius: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.dataCard button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.dataCard button:hover {
  background-color: darkred;
}

@media (max-width: 768px) {
  .dataCard {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .dataCard {
    width: 100%;
    height: auto;
  }
}