.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.table {
  width: 98%;
  border-collapse: collapse;
  font-size: 1rem;
  font-weight: 600;
  margin: 10px;
}

@media (max-width: 768px) {
  .table {
    margin: 5px;
  }
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}


.table th {
  background-color: #444;
}