.section {
  height: 100%;
  overflow-y: auto;
  background-color: #343541;
  border-radius: 15px;
  margin: 0px 3px 5px 3px;
  display: flex;
}

.container {
  max-width: 100vw !important;
  font-size: 1rem;
  font-weight: 550;
  color: #CCCCCC;
  margin: 0px !important;
  width: 100%;
  background-color: #343541;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column !important;
  align-items: center;
}

.profileSide {
  border: 1px solid #ccc;
  width: 400px;
  padding: 20px;
  background-color: #2c2f33;
  border-radius: 10px;

  @media (max-width: 475px) {
    width: 350px;
  }
}

.profileSide input,
.profileSide select {
  background-color: rgba(255, 255, 255, 0.5) !important;
  border: 2px solid black !important;
  color: black;
  font-weight: 550;
  margin-bottom: 6px;
}

.legendContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.legend {
  font-size: 1.5rem;
  margin-bottom: 0px !important;
  white-space: nowrap;

  @media (max-width: 475px) {
    font-size: 1rem !important;
    white-space: nowrap;

  }

}

.theButtonGroup {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  transition: transform 0.3s ease;
}

.theEditButton button,
.logoutContainer button {
  font-weight: 700;
  border: 2px solid white;
  border-radius: 50px;
  color: #CCCCCC;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}

.logoutContainer button:hover,
.theEditButton button:hover {
  color: black;
  background-color: #5cabfb;
  border: 2px solid transparent;
  font-weight: 900;

}

.logoutContainer button span {
  display: inline-block;
  transition: transform 0.3s;
  text-shadow: 0 50px #333;
}

.logoutContainer button:hover span {
  transform: translateY(-50px);
}

.formLabel {
  color: #f0f0f0;
  margin-bottom: 5px;
}

#validationName,
#validationNum,
#validationUnit,
#validationRole {
  color: #CCCCCC !important;
  font-size: 1.2rem;
}

#validationEmail {
  font-size: 1.2rem;
  margin-top: 5px;
  color: #CCCCCC !important;
  border: 2px solid rgba(255, 102, 0, 0.5) !important;
  border-right: none !important;
}

#inputGroupAppend {
  font-size: 1.2rem;
  font-weight: 550;
  margin-top: 5px;
  letter-spacing: 0.1em;
  border-top-left-radius: 0.375rem !important;
  border-bottom-left-radius: 0.375rem !important;
  border: 1px solid rgba(255, 102, 0, 0.5);
  background-color: rgba(255, 102, 0, 0.8);
}

.listTitle {
  font-weight: 900;
  color: #CCCCCC;
  font-size: 1.2rem;
  margin-top: -10px;
}

@media (max-width: 390px) {
  .container {
    padding: 5px;
    font-size: 0.8rem;
  }

  .profileSide {
    width: 90%;
    padding: 10px;
    margin-top: 15px;
  }

  .profileSide input,
  .profileSide select {
    font-size: 1rem;
    margin-bottom: 8px;
  }

  .legend {
    font-size: 1.2rem;
  }

  .theButtonGroup {
    gap: 5px;
  }

  .theEditButton button,
  .logoutContainer button {
    padding: 8px 15px;
    font-size: 0.9rem;
  }

  .formLabel {
    font-size: 0.9rem;
  }

  #validationName,
  #validationNum,
  #validationUnit,
  #validationRole,
  #validationEmail,
  #inputGroupAppend {
    font-size: 1rem;
  }

  .listTitle {
    font-size: 1rem;
  }
}