.drawer-navigation {
  position: fixed;
  top: 0;
  left: -400px; /* Initial state when drawer is closed */
  width: auto;
  height: 100%;
  background-color: #000000;
  border-right: 1px solid #000000;
  transition: left 0.3s ease-out;
  z-index: 100; /* Ensure drawer is above content */
}

.drawer-navigation.open {
  left: 0; /* When drawer is open */
}

.drawer-navigation.closed {
  left: -300px; /* When drawer is closed */
}

.drawer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #000000;
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

.tabs {
  padding: 10px;
  margin-top: 20px;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.tab button {
  background: none;
  border: none;
  cursor: pointer;
}

.add-tab-button {
  width: auto;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 30px;
}

.add-tab-button:hover {
  background-color: #0056b3;
}
