.chatContainer {
  background-color: #343541;
  border-radius: 15px;
  padding: 15px;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mailTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #c2c2c253;
  padding-bottom: 10px;
}

.mailTitle .deleteButton {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.mailTitle .deleteButton img {
  width: 25px;
}

.theTitle {
  font-size: 1.5rem !important;
}

.mailTitle .faSolid {
  font-size: 1.5em;
  cursor: pointer;
}

.chatBox {
  height: 67.5vh;
  padding: 10px;
  margin-bottom: 10px;
  max-height: 500px;
  overflow-y: auto;
}

.chatMessage {
  margin-top: 10px;
  display: flex;
  word-wrap: break-word;
}

.messageContent {
  font-weight: 500;
  background-color: #444654;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  width: fit-content;
}

.myMessage {
  flex-flow: row-reverse !important;
  color: white;
}

.messageContent .sender {
  font-weight: bold;
  font-size: 1rem;
}

.messageContent .content {
  margin-top: 5px;
  font-size: 1rem;
}

.timestamp {
  font-weight: 600;
  font-size: 0.7rem;
  color: #999;
  align-self: flex-end;
  margin-left: 5px;
  margin-bottom: 8px;
  margin-right: 5px;
  text-align: right;
}

.inputContainer {
  display: flex;
  align-items: center;
  background-color: #343541;
  border: 1px solid #c2c2c253;
  border-radius: 15px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.inputContainer textarea {
  flex-grow: 1;
  border: none;
  background: none;
  color: #cccccc;
  font-size: 16px;
  outline: none;
  padding: 10px;
  resize: none;
  overflow-y: auto;
  max-height: 150px;

}

.inputContainer textarea::placeholder {
  color: #aaa;
}

.inputContainer .arrowIcon {
  font-size: 20px;
  color: #aaa;
  cursor: pointer;
  margin-left: 10px;
}

.sender {
  font-weight: bold;
  color: #6eb6ff;
  margin-right: 10px;
}

.content {
  color: #f0f0f0;
}

.sendButton {
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  margin-left: 8px;
  padding: 12px 20px;
  color: #1a1a1a;
  background-color: transparent;
  font-weight: 800;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.sendButton:disabled {
  background-color: #1e1e1e;
  cursor: not-allowed;
}

.sendIcon {
  width: 25px;
  height: 25px;
  transition: transform 0.3s ease;
}

.sendButton:hover .sendIcon {
  transform: rotate(-90deg);
}

.sendButton:active {
  transform: scale(0.8);
}