.Home {
  padding: 20px;
}


.staticContent {
  margin-bottom: 20px;
  text-align: center;
}

.dataCard {
  background-color: #efefef;
  border-radius: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1em;
}

.revenueCard {
  width: 92%;
  height: 20rem;
}

.customerCard {
  width: 50%;
  height: 20rem;
}

.categoryCard {
  width: 40%;
  height: 20rem;
}

.chart {
  position: relative;
  height: 100%;
  width: 100%;
}

/* Media Queries for RWD */
@media (max-width: 768px) {
  .customerCard, .categoryCard {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .revenueCard, .customerCard, .categoryCard {
    width: 100%;
  }
}
