/* DrawerNavigation.css */

.drawer-navigation {
  position: fixed;
  top: 0;
  left: -400px; /* 初始状态抽屉导航关闭 */
  width: auto;
  height: 100%;
  background-color: #000000;
  border-right: 1px solid #000000;
  transition: left 0.3s ease-out;
  z-index: 100; /* 确保抽屉导航位于内容之上 */
}

.drawer-navigation.open {
  left: 0; /* 展开时将 left 设置为 0 */
}

.drawer-navigation.closed {
  left: -300px; /* 关闭时将 left 设置为 -400px */
}

.drawer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #000000;
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

.tabs {
  padding: 10px;
  margin-top: 20px;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.tab button {
  background: none;
  border: none;
  cursor: pointer;
}

.add-tab-button {
  width: auto;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 30px;
}

.add-tab-button:hover {
  background-color: #0056b3;
}
