.checkFormContent {
  overflow-x: hidden;
  height: 77%;
  overflow: auto;
  width: clamp(45%, 20%, 80%);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 300010;
  background: #212121;
  color: #CCCCCC;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 2.5px 2.5px 2.5px rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
  .checkFormContent {
    width: clamp(60%, 75vw, 80%);
  }
}

.checkFormContent h2 {
  font-weight: bold;
  margin: 0px !important;
  margin-bottom: 1.5rem !important;
  text-align: center;
}

.checkFormContent form label {
  font-weight: bold;
  font-size: 1.2rem;
  white-space: nowrap;
}

.checkFormContent input {
  font-weight: bold;
  font-size: 1.2rem;
  background-color: transparent;
  color: white;
  border: rgba(255, 255, 255, 0.3) 3px solid;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 7px;
}

.checkFormContent .submit {
  margin-left: 10px;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 5px 15px;
  transition: transform 0.2s ease-out;
}

.checkFormContent .cancel {
  margin-left: 10px;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: bold;
  background-color: black;
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  padding: 5px 15px;
  transition: transform 0.2s ease-out;
}

.formOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 300000;
}

.newKPIlabelGroup label {
  margin-right: 10px;
}

.newKPIlabelGroup select {
  font-weight: bold;
  font-size: 1rem;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.4);
  border: rgba(255, 255, 255, 0.3) 3px solid;
  border-radius: 5px;
  padding: 5px 8.5px;
  margin-left: 8px;
}

.newKPIlabelGroup {
  border-bottom: 2px solid #acacbe8e;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.newKPIbuttonGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.newKpiNameInput {
  border: none !important;
}

.newKPIlabelGroup {
  color: white;
  display: flex;
  width: 100%;
  border: 3px solid rgba(255, 255, 255, 0.164);
  padding: 10px;
  border-radius: 15px;
  align-items: center;
}

.newKpiImgGroup {
  color: white;
  display: flex;
  width: 100%;
  border: 3px solid rgba(255, 255, 255, 0.164);
  padding: 10px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 20px !important;
}

.newKpiCodeGroup {
  color: white;
  display: flex;
  width: 100%;
  border: 3px solid rgba(255, 255, 255, 0.164);
  padding: 10px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 20px !important;

}

.ImgIcon {
  display: block;
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

.CodeIcon {
  display: block;
  height: 26px;
  width: 26px;
  margin-left: 10px;
}

.newImgContainer,
.newCodeContainer {
  display: flex;
  align-items: center;
}

.newCodeFile {
  font-size: 1.3rem;
  font-weight: 700;
  color: white;
}

.viewChartImg {
  max-width: 180px;
  max-height: 180px;
  border: none;
  border-radius: 10px;
  display: block;
}

/* 手機 */
@media (max-width: 480px) {
  .checkFormContent {
    width: clamp(60%, 75vw, 80%);
    padding: 15px;
    overflow-x: hidden;

  }

  .newKPIbuttonGroup {
    right: 20px;
    bottom: 20px;
  }

  .checkFormContent h2 {
    font-size: 1.5rem;
  }

  .checkFormContent form label,
  .checkFormContent input {
    font-size: 1rem;
    margin: 0;
    padding: 2px;
    padding-left: 5px;
  }

  .checkFormContent .submit,
  .checkFormContent .cancel {
    font-size: 0.9rem;
    padding: 4px 12px;
  }

  .newKPIlabelGroup select,
  .newCodeFile {
    font-size: 0.9rem;
  }

  .newKPIlabelGroup,
  .newKpiCodeGroup,
  .newKpiImgGroup {
    padding: 5px;
  }

  .checkFormContent input::placeholder {
    content: 'Small Screen Placeholder';
  }

  .ImgIcon,
  .CodeIcon {
    height: 20px;
    width: 20px;
  }

  .viewChartImg {
    max-width: 150px;
    max-height: 150px;
  }

}

/* iPad */
@media (min-width: 769px) and (max-width:1024px) {
  .checkFormContent {
    width: 60%;
    padding: 20px;
  }

  .newKPIbuttonGroup {
    right: 25px;
    bottom: 25px;
  }
}

/* 電腦桌面 */
@media (min-width: 1025px) {
  .checkFormContent {
    width: 40%;
    padding: 30px;
  }

  .newKPIbuttonGroup {
    right: 40px;
    bottom: 40px;
  }
}