.theList {
  color: #CCCCCC;
  font-size: 1rem;
  font-weight: 600;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.theTable {
  position: relative;
  border-radius: 10px;
}

/* 表格樣式 */
.theTable table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: auto;
  line-height: 2.2 !important;
}

.theTable th,
.theTable td {
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.theTable td {
  padding: 12px;
}

.theTable th {
  background-color: #444;
  color: white;
}

.theTable tr:nth-child(even) {
  background-color: #444;
}

.theTitle {
  font-size: 1.3rem;
}

.addKPIButton {
  white-space: nowrap;
  text-align: center;
  width: 125px;
  height: 50px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 700;
  background: #2C66DD;
  border: none;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.addKPIButton:hover {
  color: black;
  background: #86a7e9;
}

.theAccordion {
  display: flex !important;
  font-size: 1.2rem;
  color: #1E90FF;
  font-weight: 800;
}

.theArrowIcon {
  margin-left: 10px !important;
}

.theStatuses {
  color: white;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 7px;
  white-space: nowrap;
}

.activeStatus {
  background-color: rgba(255, 255, 255, 0.4);
}

.theFilter {
  border: 3px solid #acacbe54;
  padding: 5px;
  border-radius: 15px;
}

.theFilter a {
  margin-left: 5px;
}

.ChartAdminMenu {
  display: flex;
  overflow: hidden;
  align-items: baseline;
  justify-content: space-between;
  padding: 3px;
}

.MenuOpen {
  margin-bottom: 18px;
}

.theToggle {
  display: flex;
  justify-content: center;
  margin-left: 30px;
}

/* iPhone */
@media (max-width: 480px) {
  .theTable td {
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px;
    padding-bottom: 8px;

  }

  .theList {
    font-size: 0.8rem;
    padding: 5px;
  }

  .theTable table {
    font-size: 0.8rem;
  }

  .theTitle {
    font-size: 1rem;
  }

  .addKPIButton {
    width: 100px;
    height: 40px;
    font-size: 0.9rem;
    padding: 10px;
  }

  .theAccordion {
    font-size: 1rem;
  }

  .theStatuses {
    font-size: 0.9rem;
    padding: 5px;
  }

  .theFilter {
    padding: 3px;
  }

  .ChartAdminMenu {
    padding: 2px;
  }

  .theToggle {
    margin-left: 20px;
  }
}

/* iPad */
@media (min-width: 769px) and (max-width: 1024px) {
  .theTable td {
    padding: 8px;
  }

  .theList {
    font-size: 0.9rem;
    padding: 8px;
  }

  .theTable table {
    font-size: 0.9rem;
  }

  .theTitle {
    font-size: 1.2rem;
  }

  .addKPIButton {
    width: 110px;
    height: 45px;
    font-size: 1rem;
    padding: 10px;
  }

  .theAccordion {
    font-size: 1.1rem;
  }

  .theStatuses {
    font-size: 1rem;
    padding: 6px;
  }

  .theFilter {
    padding: 4px;
  }

  .ChartAdminMenu {
    padding: 3px;
  }

  .theToggle {
    margin-left: 25px;
  }
}

/* 桌面電腦 */
@media (min-width: 1025px) {

  .theList {
    font-size: 1rem;
  }

  .theTable table {
    font-size: 1rem;
  }

  .theTitle {
    font-size: 1.3rem;
  }

  .addKPIButton {
    width: 125px;
    height: 50px;
    font-size: 1.1rem;
    padding: 12px;
  }

  .theAccordion {
    font-size: 1.2rem;
  }

  .theStatuses {
    font-size: 1.1rem;
    padding: 7px;
  }

  .theFilter {
    padding: 5px;
  }

  .ChartAdminMenu {
    padding: 3px;
  }

  .theToggle {
    margin-left: 30px;
  }
}

.notVisable {
  opacity: 0;
  pointer-events: none;
}

.centeredButton {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  width: 100%; /* 确保 MenuItem 占满单元格 */
  height: 100%; /* 确保 MenuItem 占满单元格 */
}
