/* src/styles/chatBox.css */
.mailTitle {
    margin: 10px;
    margin-top: 5px;
    position: relative;
    width: 97%;
    height: 12%;
    border-bottom: 1px solid #ACACBE;
  }
  .mailTitle .caption {
    font-weight: bolder;
    font-size: 2em;
    position: absolute;
    top: 15%;
  }
  .mailTitle .assignor {
    position: absolute;
    bottom: 5%;
    font-size: 1.3em;
    font-weight: bold;
    opacity: 70%;
  }
  .mailTitle .fa-solid {
    font-size: 3em;
    position: absolute;
    top: 12px;
    right: 10px;
  }
  .rightside input {
    border: 2px solid #CCCCCC;
    margin: 20px;
    background-color: #343541;
    height: 150px;
  }
  .input-container {
    margin: 15px 20px;
    display: flex;
    align-items: center;
    background-color: #343541;
    border: #000 solid 0.5em;
    border-radius: 15px;
    padding: 0px 50px 0px 10px;
    width: 96.5%;
    height: 12vh;
    position: relative;
  }
  .input-container textarea {
    flex-grow: 1;
    border: none;
    background: none;
    color: #CCCCCC;
    font-size: 24px;
    outline: none;
    padding: 10px;
    resize: none;
    overflow-y: auto;
    max-height: 20vh;
    word-wrap: break-word;
    word-break: break-all;
  }
  .input-container textarea::placeholder {
    color: #aaa;
  }
  .input-container .arrow-icon {
    position: absolute;
    right: 20px;
    font-size: 24px;
    color: #aaa;
    cursor: pointer;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 1em;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #343541;
    border-radius: 100vw;
    margin-block: 0.5em;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: black;
    border: 0.25em solid #343541;
    border-radius: 100vw;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(204, 204, 204, 0.5);
  }
  .custom-scrollbar::-webkit-scrollbar-button {
    display: none;
  }
  