/* src/styles/Navbar.css */
.navbar-nav .nav-item img {
    width: 3vw;
    height: 3vw;
    display: inline-block;
  }
  
  .nav-text {
    font-size: 3vh;
    font-weight: 600;
    display: none;
  }
  
  .bg-body-tertiary {
    margin-top: -5px;
    background-color: rgb(0, 0, 0);
  }
  
  @media (max-width: 988px) {
    .navbar-nav .nav-item img {
      display: none;
    }
    .navbar-nav .nav-item .nav-text {
      display: inline-block;
      color: #CCCCCC;
    }
  }
  