.theList {
  color: #CCCCCC;
  font-size: 1.2rem;
  font-weight: bold;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.theTable table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: auto;
  line-height: 2.5 !important;
}

.theTable th,
.theTable td {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.theTable th {
  background-color: #444;
  color: white;
}

.theTable tr:nth-child(even) {
  background-color: #444;
}

/* 這邊可以控制 userPicker 按鈕 */
.theList button {
  font-size: 1rem;
  color: #CCCCCC;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;

  padding: 0.5rem;
  font-weight: bolder;
}

@media (max-width: 575px) {
  .theList tr {
    font-size: 1rem;
  }

  .theList button {
    font-size: 1rem;
    padding: 0 5px 0 5px;
  }

  .theList td {
    font-size: 1rem;
  }

  .theTable td {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.alertIcon {
  vertical-align: middle;
  width: 30px;
  margin: 10px;
}