.settingAlert {
  width: 260px;
  height: 500px;
  padding: 25px 30px;
  background-color: #ACACBE;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 15px;
  z-index: 2;
  transition: width 0.5s ease;
}

.settingAlert h2 {
  color: black;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 15px;
  text-wrap: nowrap;
}

.descriptionText {
  font-size: 1rem;
  font-weight: 600;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

/* 控制第一行descriptionText */
.firstline {
  margin-bottom: 2px !important;
}

/* 按鈕其實是共用樣式 */
.buttonGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  position: fixed;
  right: 25px;
  bottom: 22px;
}

.submit:hover {
  transform: scale(1.2) !important;
}

.cancel:hover {
  transform: scale(1.2) !important;
}

.cancel {
  margin-left: 10px;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: bold;
  background-color: black;
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  padding: 5px 15px;
  transition: transform 0.2s ease-out;
}

.submit {
  margin-left: 10px;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 5px 15px;
  transition: transform 0.2s ease-out;
}

/* 手機 */
@media (max-width: 599px) {}

@media (min-width: 600px) and (max-width: 1199px) {
  .settingAlert {
    width: 370px;
  }
}

/* 桌面電腦 */
@media (min-width: 1200px) {
  .settingAlert {
    width: 470px;
  }

}

/* 新增一個類來控制下拉選單的樣式 */
.autocomplete {
  width: 100%; /* 使用百分比以確保響應式設計 */
  height: 100%;
  margin: 10px 0; /* 控制上下間距 */
}

/* 手機 */
@media (max-width: 599px) {
  .autocomplete {
    width: 90%; /* 手機上佔據較小的寬度 */
  }
}

/* 平板電腦 */
@media (min-width: 600px) and (max-width: 1199px) {
  .autocomplete {
    width: 70%; /* 平板上使用較大的寬度 */
  }
}

